/* Second Section Styles */
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10%; /* Existing padding */
    padding-left: 20rem;
    background-color: var(--white);
    min-height: 100vh;
    gap: 4rem;
    padding-left: 30rem; 
}


.image-container {
    padding-top: 8rem;
    width: 65rem;
    height: 80rem; /* Adjusted height */
    position: relative; /* Allows positioning of arrows */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--light-gray);
    border-radius: 1rem;
}

.image-wrapper {
    width: 100%;
    height: 90%; /* Reserve space for caption */
    overflow: hidden;
    position: relative;
}

.fade-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

/* Caption directly under the image without padding */
.caption {
    width: 100%;
    height: 10%;
    padding-top: 2.5rem;
    text-align: center;
    margin-top: 0rem; /* Adjust to ensure it hugs the image */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0 0 1rem 1rem; /* Rounding only bottom corners to match the image */
}


/* Arrow buttons */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    font-size: 1.5rem;
}

.arrow.left {
    left: 2rem;
}

.arrow.right {
    right: 2rem;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.content-container {
    
    flex: 1;
    padding: 2rem;
    padding-left: 10rem;
    display: flex; /* Enables Flexbox for this container */
    flex-direction: column; /* Keeps the content stacked vertically */
    justify-content: center; /* Centers the content vertically */
}
.content-container h2 {
    padding-top: 8rem;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    color: var(--black);
}

.content-container ul {
    list-style: disc;
    margin-left: 2rem;
    color: var(--black);
    font-size: 2.2rem;
    line-height: 3rem;
}

.about-points {
    display: flex;
    flex-direction: column;
  }
  
  .point {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    color:black;
  }
  
  .point p {
    font-size: 2rem; /* Adjust size as needed */
    margin: 0;
    padding-left: 3rem;
    flex-grow: 1;
  }
  
  .point span {
    font-size: 2rem; /* Adjust size of the emoji */
  }
  