@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", "sans-serif";    
}

  
:root {
  --black: #0e141b;
  --lightgray: #f2f4f8;
  --purple: #00bfff; /* Sky blue accent */
  --teal: #7df9ff;   /* Electric aqua */
  --homepage: #1c1f26;
}

html {
    font-size: 60%;
    overflow-x: hidden; /* Correct way to prevent horizontal scrolling */
    width: 100%;
    height: 100%;
}
