
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", "sans-serif";    
    
}

  
:root {
  --black: #05070d;
  --lightgray: #d1d5db;
  --purple: #38bdf8;
  --teal: #eab308;
  --homepage: #0f172a;
}

html {
    background: #05070d;
    font-size: 60%;
    overflow-x: hidden; /* Correct way to prevent horizontal scrolling */
    width: 100%;
    height: 100%;
}
