
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", "sans-serif";    
}

  
:root {
  --black: #0e141b;
  --lightgray: #f2f4f8;
  --purple: #00bfff; /* Sky blue accent */
  --teal: #7df9ff;   /* Electric aqua */
  --homepage: #1c1f26;
}

html {
    font-size: 60%;
    overflow-x: hidden; /* Correct way to prevent horizontal scrolling */
    width: 100%;
    height: 100%;
}
