*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --black: #05070d;
  --lightgray: #d1d5db;
  --purple: #38bdf8;
  --teal: #eab308;
  --homepage: #0f172a;
}

html {
  background: #05070d;
  font-size: 60%;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #05070d;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  font-family: "Poppins", sans-serif;
}