.corner-menu {
    position: fixed;
    bottom: 0;
    left: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 80vh;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.line-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.line {
    width: 3px;
    background-color: var(--black);
    margin-bottom: 1rem;
}

.line.short {
    margin-bottom: 2rem; /* Increase the space between icons */
    height: 2rem;
}

.line.long {
    height: 8rem;
    margin-bottom: 0;
}

.line.horizontal {
    width: 2.4rem; /* Adjust width for horizontal line */
    height: 3px; /* Adjust height for horizontal line */
    background-color: var(--black);
    position: absolute;
    top: 0.rem; /* Adjust vertical position */
    left: -1rem; /* Adjust horizontal position */
}

.corner-menu-icon {
    font-size: 3rem;
    color: var(--red);
    transition: transform 0.3s, color 0.3s;
    margin-bottom: 2rem; /* Increase the space between icons */
}
.corner-menu-icon:hover {
    transform: scale(1.5);
    color: var(--black);
}
